<html>
    <body>
        <h1>Create New Menu </h1>

        <form action="{{url_for('newMenuItem', restaurant_id = restaurant_id)}}" method="POST">
            <h4>Enter the name:</h4>
            <input type="text" placeholder="Name" name="name">
            <h4>Enter the description:</h4>
            <input type="text" placeholder="Description" name="description">
            <h4>Enter the price:</h4>
            <input type="text" placeholder="Price" name="price">
            <h4>Choose course:</h4>

            
            <input type="radio" name="course" value="Appetizer"> Appetizer<br>
            <input type="radio" name="course" value="Entree"> Entree<br>
            <input type="radio" name="course" value="Dessert"> Dessert<br>
            <input type="radio" name="course" value="Beverage"> Beverage
            <h3></h3>

            <input type="submit" value="Create">
        </form>
    </body>
</html>